<h1> Posts <h1>

There are <%= Post.count %> posts and counting!!

<ul>
    <% @posts.each do |post| %>
        <li>
            <%= post.title %>
            <%= post.body %>
        </li>
        <% if user_signed_in? %>
            <%= post.user.name %>
        <% end %>
    <%end%>
</ul>

<%= button_to "logout", destroy_user_session_path, method: :delete  %>